.inp{
    color: rgb(225, 223, 223);
    background-color: blue;
}
.inp2{
text-align: end;
}

.darkMode{
background-color: black;
color: white;
border: 1px solid white;

}
.lightMode{
background-color: white;
color:black;
border: 1px solid black;
}

form{
    background-color: gray;
    margin: 0 auto;
    border: 1px solid black;
    width: 250px;
    height: fit-content;
    box-shadow: 1px 10px 1px 4px black;
    padding: 10px;
text-align: center;
    label{
     margin-bottom: 5px;   
    height: 20px;
    border-radius: 10px;
    }

    button{
        text-align:  center;
     /* padding: 10px; */
     width: 50%;
     height: 20px;
     border-radius: 10px;
     border: 1px solid black;
    transition: background-color 0.3s ease-in-out ;
    letter-spacing: 0.3s ease-in-out;
    }
    button:hover{
        letter-spacing: 0.2em;
         background-color: blue;
    }
}